<nav class="flex items-center bg-nav py-2 px-4">
  <div class="flex items-center text-white mr-6">
    <span
      [routerLink]="['']"
      class="font-semibold text-xl tracking-tight cursor-pointer hov-eff"
      >Twist & Chat</span
    >
  </div>

  <div class="flex grow items-center justify-between">
    <div class="text-sm">
      <a
        [routerLink]="['chat/user']"
        routerLinkActive="font-medium bg-blue-light rounded text-nav"
        class="text-white mr-4 cursor-pointer hov-eff p-1"
        >New Convo</a
      >
      <a
        [routerLink]="['chat/online-users']"
        routerLinkActive="font-medium bg-blue-light rounded text-nav"
        class="text-white mr-4 cursor-pointer hov-eff p-1"
        >Online Users</a
      >
    </div>
    <div class="hover:shadow-navShaow">
      <a
        *ngIf="!loggedIn"
        [routerLink]="['/login']"
        class="w-22 inline-block text-sm px-5 py-2 leading-none border rounded text-white cursor-pointer hov-eff hover:shadow-navShaow"
        >Log In</a
      >
      <a
        *ngIf="loggedIn"
        (click)="logOut()"
        class="w-22 inline-block text-sm px-5 py-2 leading-none border rounded text-white text-center cursor-pointer hov-eff hover:shadow-navShaow"
        >Log Out</a
      >
    </div>
  </div>
</nav>
