.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-card-title,
mat-card-subtitle,
mat-card-content {
  color: white;
}
